main {
    max-width: 840px;
}

aside {
    width: auto;
    margin: auto;
    border: 1px;
    padding: 2px;
    background-color: #002147;
    color: #00BFFF;
}

img aside {
    max-width: 200px;
}

main img {
    width: 150px;
    height: auto;
}

p {
    padding: 0px;
}

footer {
    margin-top: 5px;
    border-top: 5px;
    text-align: center;
}